%button {
  padding: 0.5rem 1rem;
  font-weight: font-weight('bold');
  line-height: 1.2;
  color: palette('white');
  background-color: palette('blue');
  border: 0;
  border-radius: 5px;
}

.button {
  @extend %button;
}

.button--secondary {
  background-color: palette('red', 'violet');
}

.button--big {
  display: inline-flex;
  justify-content: center;
  width: 100%;

  @media screen and (min-width: breakpoint('desktop')) {
    max-width: 51rem;
  }
}
