.home-banner {
  background-color: palette('blue');
}

.home-banner__container {
  @include container;
  display: flex;
  flex-direction: column;
}

.home-banner__title {
  margin-bottom: 4rem;
  line-height: 1.3;
  letter-spacing: 1px;
  color: palette('white');
}

.home-banner__image {
  display: none;
  margin-right: -2rem;
  margin-left: -2rem;
}

.home-banner__image img {
  display: block;
}
