.pagination {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-left: 0;
  list-style-type: none;

  @media screen and (min-width: breakpoint('tablet')) {
    justify-content: flex-end;
  }
}

.pagination nav {
  display: flex;
}

.page-item {
  margin-left: 0.5rem;

  &:first-child {
    margin-left: 0;
  }
}

.page-link {
  @extend %button;
  width: 5rem;
}

.active .page-link {
  box-shadow: 0 0 0 2px inset palette('green');
}


.page-item.disabled .page-link {
  color: palette('disabled', 'foreground');
  background-color: palette('disabled', 'background');
}
