.pagination {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-left: 0;
  list-style-type: none;

  @media screen and (min-width: breakpoint('tablet')) {
    justify-content: flex-end;
  }
}

.pagination nav {
  display: flex;
}

.page-item {
  margin-left: 1rem;

  &:first-child {
    margin-left: 0;
  }

  @media screen and (min-width: breakpoint('phablet')) {
    margin-left: 2rem;
  }
}

.page-link {
  @extend %button;
  width: 5rem;
}

.page-item.disabled .page-link {
  color: palette('disabled', 'foreground');
  background-color: palette('disabled', 'background');
}
