.sections__container {
  @media screen and (min-width: breakpoint('desktop')) {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
  }
}

.sections__header {
  display: flex;
  align-items: flex-end;
  height: 10rem;
  background-position: center;
  background-size: cover;

  @media screen and (min-width: breakpoint('phablet')) {
    height: 20rem;
  }

  @media screen and (min-width: breakpoint('desktop')) {
    height: 25rem;
  }
}

.sections__title {
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 0;
  font-weight: font-weight('normal');
  font-size: ms(2);
  color: palette('white');
  background-color: palette('black', 'opacity');

  @media screen and (min-width: breakpoint('phablet')) {
    font-size: ms(3);
  }

  @media screen and (min-width: breakpoint('desktop')) {
    font-size: ms(5);
  }
}

.sections__title span {
  @include container;
  display: block;
}

.sections__select {
  padding-bottom: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  font-size: ms(0);
  font-family: $orkney-bold-font-stack;
  color: palette('purple');
  border-bottom: 1px solid palette('gray');

  @media screen and (min-width: breakpoint('desktop')) {
    font-size: ms(3);
  }

}

.sections__select strong {
  display: block;
  margin-bottom: -1.7rem;
  font-size: ms(2);

  @media screen and (min-width: breakpoint('desktop')) {
    margin-bottom: -2.7rem;
  }
}

.sections__select select {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 3rem;
  font-weight: font-weight('bold');
  font-size: ms(-1);
  font-family: $orkney-bold-font-stack;
  color: inherit;
  background-image: image('icons/chevron-down.svg');
  background-position: 95% center;
  background-size: 16px 10px;
  background-color: transparent;
  border: 0;
  appearance: none;

  &:focus {
    outline: 2px solid palette('purple');
    outline-offset: 2px;
  }

  @media screen and (min-width: breakpoint('desktop')) {
    height: 4rem;
    padding-top: 2rem;
  }
}

.sections__select option {
  font-size: ms(0);
}

$sections-list-tablet-margin: 1rem;

.sections__list {
  display: flex;
  flex-wrap: wrap;

  @media screen and (min-width: breakpoint('phablet')) {
    justify-content: center;
  }

  @media screen and (min-width: breakpoint('tablet')) {
    margin-right: -$sections-list-tablet-margin;
    margin-left: -$sections-list-tablet-margin;
  }

  @media screen and (min-width: breakpoint('desktop')) {
    justify-content: flex-start;
  }
}

.sections__list--smaller-cards {
  @media screen and (min-width: breakpoint('desktop')) {
    justify-content: flex-start;
  }
}

.sections__list--smaller-cards .sections__list-section-title {
  width: 100%;

  @media screen and (min-width: breakpoint('tablet')) {
    margin: 0 1rem;
  }
}

.sections__list--smaller-cards .section__item {
  @media screen and (min-width: breakpoint('tablet')) {
    width: calc(33.333% - (2 * #{$sections-list-tablet-margin}));
    margin: $sections-list-tablet-margin;
  }
}

.section__item {
  width: 100%;
  margin-bottom: 1rem;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 2px 2px 5px palette('shadow');

  @media screen and (min-width: breakpoint('tablet')) {
    width: calc(50% - (2 * #{$sections-list-tablet-margin}));
    margin: $sections-list-tablet-margin;
  }
}

.section__item--small {
  @media screen and (min-width: breakpoint('tablet')) {
    width: calc(50% - (2 * #{$sections-list-tablet-margin}));
    margin: $sections-list-tablet-margin;
  }

  @media screen and (min-width: breakpoint('desktop')) {
    width: calc(33.333% - (2 * #{$sections-list-tablet-margin}));
    margin: $sections-list-tablet-margin;
  }
}

.sections__image {
  position: relative;
  // height: 15.875rem;
}

.sections__image-picture {
  display: flex;
  width: 100%;
  height: 14.25rem;
  background-position: center;
  background-size: cover;


  @media screen and (min-width: breakpoint('phablet')) {
    height: 24.25rem;
  }

  @media screen and (min-width: breakpoint('tablet')) {
    height: 15.25rem;
  }

  @media screen and (min-width: breakpoint('desktop')) {
    height: 12.875rem;
  }

  @media screen and (min-width: breakpoint('wide')) {
    height: 12.875rem;
  }
}

.sections__image-picture img {
  display: block;
  width: 100%;
  background-color: palette('gray', 'light');
  object-fit: cover;
}

.sections__image a {
  display: flex;
  width: 100%;
}

.sections__image img {
  width: 100%;
}

.section__tags {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 1.6rem);
  height: 2.9rem;
  padding-top: 1rem;
  padding-right: 1.75rem;
  padding-bottom: 0.2rem;
  padding-left: 1.75rem;
  margin-right: -0.8rem;
  margin-left: -0.8rem;
  overflow: hidden;
  font-family: $orkney-bold-font-stack;

  @media screen and (min-width: breakpoint('tablet')) {
    height: 2.9rem;
  }
}

.section__tags a {
  display: flex;
  width: auto;
  padding: 0.25rem 0.6rem;
  margin-right: 0.2rem;
  margin-bottom: 0.3rem;
  margin-left: 0.2rem;
  font-weight: font-weight('bold');
  font-size: ms(-2);
  text-decoration: none;
  color: palette('blue');
  background-color: palette('green');
  border-radius: 33px;
}

.section__download-info {
  display: block;
  padding: 0.5rem 1rem 0;
  font-size: ms(-2);
  text-transform: uppercase;
  color: palette('gray', 'dark');
}

.sections__list-title {
  padding: 0;
  margin: 1rem;
  font-size: ms(1);
  line-height: 1.2;
  font-family: $orkney-bold-font-stack;
  text-transform: uppercase;
  color: palette('purple');
  background: transparent;

  @media screen and (min-width: breakpoint('desktop')) {
    height: 2.45rem;
    overflow: hidden;
  }
}

.section__excerpt {
  max-width: 100%;
  padding: 0 1rem 1rem;
  margin: 0;
  color: palette('gray', 'dark');
}

.section__footer {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  margin-right: -1rem;
  margin-left: -1rem;
  font-size: ms(-2);
  border-top: 1px solid palette('gray');

  @media screen and (min-width: breakpoint('phablet')) {
    flex-wrap: nowrap;
  }
}

.section__footer--item {
  flex-grow: 1;
  width: 100%;
  margin-right: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;

  @media screen and (min-width: breakpoint('phablet')) {
    width: auto;

    &:nth-child(2) {
      text-align: center;
    }

    &:last-child {
      text-align: right;
    }
  }
}

.section__footer--item span {
  display: block;
  text-transform: uppercase;
  color: palette('gray', 'dark');
}

.section__footer--item strong {
  color: palette('gray', 'x-dark');
}

.sections__load-more {
  margin-top: 2rem;
}

.sections__text {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.sections__text h1 {
  @media screen and (min-width: breakpoint('desktop')) {
    max-width: 35rem;
    margin-top: 0;
  }
}

.sections__text-description {
  @media screen and (min-width: breakpoint('desktop')) {
    column-fill: balance;
    columns: 2;
  }
}

.sections__list--home {
  @media screen and (min-width: breakpoint('desktop')) {
    align-items: flex-start;
    justify-content: flex-start;
    width: 66.666%;
  }
}

.sections__list--home-big .section__tags {
  position: relative;
  background-image: none;
}

.sections__list--small {
  @media screen and (min-width: breakpoint('desktop')) {
    width: 33.333%;
    margin-left: 2rem;
  }
}

.sections__list-main-title {
  width: 100%;
  padding: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: ms(3);
  color: palette('purple');

  @media screen and (min-width: breakpoint('tablet')) {
    font-size: ms(7);
  }
}

.sections__list--small .section__item {
  @media screen and (min-width: breakpoint('desktop')) {
    width: 100%;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
  }
}

.sections__list--small .sections__image {
  flex-wrap: wrap;
  height: 10rem;

  @media screen and (min-width: breakpoint('phablet')) {
    height: 12.5rem;
  }

  @media screen and (min-width: breakpoint('tablet')) {
    height: 12rem;
  }

  @media screen and (min-width: breakpoint('desktop')) {
    height: 10.01rem;
  }
}

.sections__list--small .section__small-section-title {
  align-items: flex-end;
  width: 100%;
  padding: 0;
  color: palette('white');
  background-color: transparent;
}

.section__image-text-over {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  padding: 1rem;
  // @todo back here to put this on vars
  // sass-lint:disable-block no-color-literals
  background-image: linear-gradient(-180deg, rgba(51, 51, 51, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
}

.section__image-text-over .section__small-section-title h2 {
  margin-top: 0.5rem;
  margin-bottom: 0;
  line-height: 1.1;
}

.section__image-text-over .section__tags {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

