// .sections {
//
// }

.sections__header {
  display: flex;
  align-items: flex-end;
  height: 10rem;
  background-position: center;
  background-size: cover;

  @media screen and (min-width: breakpoint('phablet')) {
    height: 20rem;
  }

  @media screen and (min-width: breakpoint('desktop')) {
    height: 25rem;
  }
}

.sections__title {
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 0;
  font-weight: font-weight('normal');
  font-size: ms(2);
  color: palette('white');
  background-color: palette('black', 'opacity');

  @media screen and (min-width: breakpoint('phablet')) {
    font-size: ms(3);
  }

  @media screen and (min-width: breakpoint('desktop')) {
    font-size: ms(5);
  }
}

.sections__title span {
  @include container;
  display: block;
}

.sections__select {
  padding-bottom: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  font-size: ms(0);
  font-family: $orkney-bold-font-stack;
  color: palette('blue');
  border-bottom: 1px solid palette('gray');

  @media screen and (min-width: breakpoint('desktop')) {
    font-size: ms(3);
  }

}

.sections__select strong {
  display: block;
  margin-bottom: -1.7rem;
  font-size: ms(2);

  @media screen and (min-width: breakpoint('desktop')) {
    margin-bottom: -2.7rem;
  }
}

.sections__select select {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 3rem;
  font-weight: font-weight('bold');
  font-size: ms(-1);
  font-family: $orkney-bold-font-stack;
  color: inherit;
  background-image: image('icons/chevron-down.svg');
  background-position: 95% center;
  background-size: 16px 10px;
  background-color: transparent;
  border: 0;
  appearance: none;

  &:focus {
    outline: 2px solid palette('blue');
    outline-offset: 2px;
  }

  @media screen and (min-width: breakpoint('desktop')) {
    height: 4rem;
  }
}

.sections__select option {
  font-size: ms(0);
}

$sections-list-tablet-margin: 1rem;

.sections__list {
  display: flex;
  flex-wrap: wrap;

  @media screen and (min-width: breakpoint('phablet')) {
    justify-content: center;
  }

  @media screen and (min-width: breakpoint('tablet')) {
    margin-right: -$sections-list-tablet-margin;
    margin-left: -$sections-list-tablet-margin;
  }
}

.sections__list--smaller-cards {
  @media screen and (min-width: breakpoint('desktop')) {
    justify-content: flex-start;
  }
}

.sections__list--smaller-cards .sections__list-section-title {
  width: 100%;

  @media screen and (min-width: breakpoint('tablet')) {
    margin: 0 1rem;
  }
}

.sections__list--smaller-cards .section__item {
  @media screen and (min-width: breakpoint('tablet')) {
    width: calc(33.333% - (2 * #{$sections-list-tablet-margin}));
    margin: $sections-list-tablet-margin;
  }
}

.section__item {
  width: 100%;
  margin-bottom: 1rem;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 2px 2px 5px palette('shadow');

  @media screen and (min-width: breakpoint('tablet')) {
    width: calc(50% - (2 * #{$sections-list-tablet-margin}));
    margin: $sections-list-tablet-margin;
  }
}

.sections__image {
  position: relative;
  display: flex;
}

.sections__image a {
  display: block;
  width: 100%;
}

.sections__image img {
  width: 100%;
}

.section__tags {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 1.6rem);
  padding-top: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.2rem;
  padding-left: 1rem;
  margin-right: -0.8rem;
  margin-left: -0.8rem;
  font-family: $orkney-font-stack;
  // @todo back here to put this on vars
  // sass-lint:disable-block no-color-literals
  background-image: linear-gradient(-180deg, rgba(51, 51, 51, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
}

.section__tags a {
  display: flex;
  width: auto;
  padding: 0.25rem 0.6rem;
  margin-right: 0.2rem;
  margin-bottom: 0.3rem;
  margin-left: 0.2rem;
  font-size: ms(-2);
  color: palette('white');
  background-color: palette('red', 'violet');
  border-radius: 33px;
}

.sections__list-title {
  padding: 1rem;
  margin: 0;
  font-size: ms(1);
  line-height: 1.2;
  font-family: $orkney-bold-font-stack;
  text-transform: uppercase;
  color: palette('blue');
  background: transparent;

  @media screen and (min-width: breakpoint('desktop')) {
    min-height: 4.6rem;
  }
}

.sections__load-more {
  margin-top: 2rem;
}

.sections__text {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.sections__text h1 {
  @media screen and (min-width: breakpoint('desktop')) {
    max-width: 35rem;
    margin-top: 0;
  }
}

.sections__text-description {
  @media screen and (min-width: breakpoint('desktop')) {
    column-fill: balance;
    columns: 2;
  }
}







