.site-footer .container {
  @media screen and (min-width: breakpoint('desktop')) {
    display: flex;
    flex-wrap: wrap;
  }
}

.footer-nav {
  padding-top: 1.5rem;
  padding-right: 0;
  padding-bottom: 1.5rem;
  padding-left: 0;
  font-weight: font-weight('bold');
  font-family: $orkney-bold-font-stack;
  text-align: center;
  text-transform: uppercase;
  list-style: none;
  border-top: 1px solid palette('gray');
  border-bottom: 1px solid palette('gray');

  @media screen and (min-width: breakpoint('phablet')) {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  @media screen and (min-width: breakpoint('desktop')) {
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 3rem;
  }
}

.footer-nav li {
  margin-bottom: 0.5rem;


  @media screen and (min-width: breakpoint('phablet')) {
    margin-right: 2rem;
    margin-bottom: 0;
    margin-left: 2rem;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.footer-nav a {
  font-size: ms(1);
  line-height: 1.5;
  font-family: $orkney-bold-font-stack;
  color: palette('purple');
}

.footer__about {
  margin-top: 2rem;
  font-size: ms(0);
}

.footer__about h1 {
  font-size: ms(0);
  text-transform: uppercase;
}

.footer__copyleft {
  display: flex;
  flex-wrap: wrap;
  font-size: ms(-1);
  color: palette('gray', 'dark');
}

.footer__copyleft a {
  @include image-replacement;
  width: 8.875rem;
  height: 1.875rem;
  margin-bottom: 1rem;
  background-image: image('icons/license.svg');
}


.footer__logo {
  width: 7.75rem;
  height: 5.93rem;
  background-image: image('logo-purple.svg');
}

.footer__social {
  margin: 2rem 0 1rem;
}

.footer__social strong {
  font-size: ms(1);
  text-transform: uppercase;
  color: palette('purple');
}

.footer__social ul {
  display: flex;
  padding-left: 0;
  list-style-type: none;
}

.footer__social li {
  margin-left: 1rem;

  &:first-child {
    margin-left: 0;
  }
}

.footer__social a  {
  @include image-replacement;
  display: block;
  width: 1.562rem;
  height: 1.562rem;
  background-position: center;
}

.footer__facebook {
  background-image: image('icons/social/facebook.svg');
}

.footer__twitter {
  background-image: image('icons/social/twitter.svg');
}

.footer__instagram {
  background-image: image('icons/social/instagram.svg');
}

.footer__youtube {
  background-image: image('icons/social/youtube.svg');
}

.footer__by {
  display: block;
  width: 100%;
  padding-top: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-weight: font-weight('bold');
  font-size: ms(-1);
  text-align: center;
  text-transform: uppercase;
  color: palette('gray', 'dark');
  border-top: 1px solid palette('gray');

  @media screen and (min-width: breakpoint('desktop')) {
    order: 3;
  }
}

.footer__by a {
  color: palette('gray', 'dark');
}

// Responsive adjusts
.footer__blocks {
  @media screen and (min-width: breakpoint('desktop')) {
    display: flex;
    max-width: 50rem;
    margin-right: auto;
    margin-left: auto;
  }
}

.footer__first-block,
.footer__last-block {
  width: 100%;
  margin-bottom: 2rem;
}

.footer__first-block {
  @media screen and (min-width: breakpoint('desktop')) {
    order: 1;
    width: 12rem;
    padding-right: 2rem;
    border-right: 1px solid palette('gray');
  }
}

.footer__last-block {
  @media screen and (min-width: breakpoint('desktop')) {
    order: 2;
    width: calc(100% - 12rem);
    padding-left: 2rem;
  }
}
