.site-header {
  position: sticky;
  top: 0;
  z-index: layer('modal');
  color: inherit;
  background-color: palette('blue');

  // @media screen and (min-width: breakpoint('tablet')) {
  //   flex-direction: row;
  //   height: 5.375rem;
  //   margin-top: 0;
  // }
}

.site-header__container {
  @include container;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.site-header__logo {
  display: block;
  width: 3.188rem;
  height: 2.438em;
  margin-right: auto;
  text-indent: -999em;
  background-image: image('logo.svg');
  background-size: contain;

  @media screen and (min-width: breakpoint('tablet')) {
    margin: 0;
  }
}

.site-header__search-button {
  @include image-replacement;
  width: 1.5rem;
  height: 1.5rem;
  background-image: image('icons/magnifying-glass.svg');
  background-color: transparent;
  border: 0;
}
